In [4]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.3-cp38-cp38-win_amd64.whl (10.2 MB)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.2-cp38-cp38-win_amd64.whl (14.0 MB)
Collecting pytz>=2017.3
  Using cached pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\junpu\spark\spark\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\junpu\spark\spark\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.2 pandas-1.3.3 pytz-2021.1

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

       name  age  experience
0     Krish   31          10
1  Sudhansh   30           8
2     Sunny   29           4

In [4]:
from pyspark.sql import SparkSession

**Start a spark session**

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

**Read csv**

In [7]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

************************************tt2********************************************************

**DataFrame session**

In [10]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

In [11]:
# load data
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [12]:
# schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [13]:
df_pyspark = spark.read.csv('test1.csv', header = True, inferSchema = True)
df_pyspark.show()
df_pyspark.printSchema()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [14]:
df_pyspark.head(3)

[Row(name='Krish', age=31, experience=10),
 Row(name='Sudhansh', age=30, experience=8),
 Row(name='Sunny', age=29, experience=4)]

In [15]:
df_pyspark.select(['name','experience']).show()

+--------+----------+
|    name|experience|
+--------+----------+
|   Krish|        10|
|Sudhansh|         8|
|   Sunny|         4|
+--------+----------+

In [16]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [17]:
# describe
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| name| age|       experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [18]:
# adding columns in dataframe
df_pyspark = df_pyspark.withColumn('experience after 2 years', df_pyspark['experience']+2)

In [19]:
df_pyspark.show()

+--------+---+----------+------------------------+
|    name|age|experience|experience after 2 years|
+--------+---+----------+------------------------+
|   Krish| 31|        10|                      12|
|Sudhansh| 30|         8|                      10|
|   Sunny| 29|         4|                       6|
+--------+---+----------+------------------------+

In [20]:
# drop column
df_pyspark = df_pyspark.drop('experience after 2 years')

In [ ]:
df_pyspark.drop()

In [21]:
df_pyspark.show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [22]:
# rename column

In [23]:
df_pyspark = df_pyspark.withColumnRenamed('name', 'new_name')

In [24]:
df_pyspark.show()

+--------+---+----------+
|new_name|age|experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

************************************tt3********************************************************

In [25]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [26]:
df_spark = spark.read.csv('test2.csv', header=True, inferSchema=True)

In [27]:
df_spark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
|Sudhansh|  30|         8| 25000|
|   Sunny|  29|         4| 20000|
|    paul|  24|         3| 15000|
|  harsha|  21|         1| 18000|
| shubham|  23|         2| 40000|
|  mahesh|null|      null| 20000|
|    null|  34|        10|  3800|
|    null|  36|      null|  null|
+--------+----+----------+------+

### drop columns

In [28]:
df_spark.drop('column name')

DataFrame[name: string, age: int, experience: int, salary: int]

### deal with null values

In [29]:
df_spark.na.drop()

DataFrame[name: string, age: int, experience: int, salary: int]

In [38]:
# drop na with parameters
df_spark.na.drop(how='any', thresh=1, subset=['age']).show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
|   Sunny| 29|         4| 20000|
|    paul| 24|         3| 15000|
|  harsha| 21|         1| 18000|
| shubham| 23|         2| 40000|
|    null| 34|        10|  3800|
|    null| 36|      null|  null|
+--------+---+----------+------+

In [49]:
# fill the missing value
df_spark.na.fill('missing', ['age', 'experience']).show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
|Sudhansh|  30|         8| 25000|
|   Sunny|  29|         4| 20000|
|    paul|  24|         3| 15000|
|  harsha|  21|         1| 18000|
| shubham|  23|         2| 40000|
|  mahesh|null|      null| 20000|
|    null|  34|        10|  3800|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [59]:
# imputer
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['age', 'experience', 'salary'],
    outputCols = ['{}_imputed'.format(c) for c in ['age', 'experience', 'salary']]).setStrategy('mean')

In [65]:
imputer.fit(df_spark).transform(df_spark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhansh|  30|         8| 25000|         30|                 8|         25000|
|   Sunny|  29|         4| 20000|         29|                 4|         20000|
|    paul|  24|         3| 15000|         24|                 3|         15000|
|  harsha|  21|         1| 18000|         21|                 1|         18000|
| shubham|  23|         2| 40000|         23|                 2|         40000|
|  mahesh|null|      null| 20000|         28|                 5|         20000|
|    null|  34|        10|  3800|         34|                10|          3800|
|    null|  36|      null|  null|         36|                 5|         21475|
+--------+----+----------+------+-----------+------------------+--------------+

### filter operation

In [66]:
from pyspark.sql import SparkSession

In [67]:
spark = SparkSession.builder.appName('datframe').getOrCreate()

In [68]:
df_pyspark = spark.read.csv('test3.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
|   Sunny| 29|         4| 20000|
|    paul| 24|         3| 15000|
|  harsha| 21|         1| 18000|
| shubham| 23|         2| 40000|
+--------+---+----------+------+

In [69]:
# salary of the people less than or equal to 20000
df_pyspark.filter('salary<=20000').show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
| Sunny| 29|         4| 20000|
|  paul| 24|         3| 15000|
|harsha| 21|         1| 18000|
+------+---+----------+------+

In [70]:
df_pyspark.filter('salary<=20000').select(['name', 'age']).show()

+------+---+
|  name|age|
+------+---+
| Sunny| 29|
|  paul| 24|
|harsha| 21|
+------+---+

In [73]:
df_pyspark.filter((df_pyspark['salary']<=20000) & (df_pyspark['salary'] > 15000)).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
| Sunny| 29|         4| 20000|
|harsha| 21|         1| 18000|
+------+---+----------+------+

In [74]:
df_pyspark.filter(~(df_pyspark['salary']<=20000)).show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
| shubham| 23|         2| 40000|
+--------+---+----------+------+

### Group by and aggregate functions

In [77]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('agg').getOrCreate()

In [78]:
spark

In [79]:
df_pyspark = spark.read.csv('test4.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     name|  department|salary|
+---------+------------+------+
|    krish|data science| 10000|
|    krish|         IOT|  5000|
|   mahesh|    big data|  4000|
|    krish|    big data|  4000|
|   mahesh|data science|  3000|
|sudhanshu|data science| 20000|
|sudhanshu|         IOT| 10000|
|sudhanshu|    big data|  5000|
|    sunny|data science| 10000|
|    sunny|    big data|  2000|
+---------+------------+------+

In [80]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [86]:
# groupby
# group to find the maximum salary
df_pyspark.groupBy('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|    sunny|      12000|
|    krish|      19000|
|sudhanshu|      35000|
|   mahesh|       7000|
+---------+-----------+

In [88]:
# groupby department which gives maximum salary
df_pyspark.groupBy('department').sum().show()

+------------+-----------+
|  department|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    big data|      15000|
|data science|      43000|
+------------+-----------+

In [89]:
df_pyspark.groupBy('department').mean().show()

+------------+-----------+
|  department|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    big data|     3750.0|
|data science|    10750.0|
+------------+-----------+

In [90]:
df_pyspark.groupBy('department').count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IOT|    2|
|    big data|    4|
|data science|    4|
+------------+-----+

In [91]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [98]:
# mast paid employee
df_pyspark.groupBy('name').max().orderBy('max(salary)', assending=False).show()

+---------+-----------+
|     name|max(salary)|
+---------+-----------+
|   mahesh|       4000|
|    sunny|      10000|
|    krish|      10000|
|sudhanshu|      20000|
+---------+-----------+

### example of pyspark ML

In [99]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ml').getOrCreate()

In [100]:
training = spark.read.csv('test3.csv', header=True, inferSchema=True)
training.show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
|   Sunny| 29|         4| 20000|
|    paul| 24|         3| 15000|
|  harsha| 21|         1| 18000|
| shubham| 23|         2| 40000|
+--------+---+----------+------+

In [101]:
training.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [102]:
training.columns

['name', 'age', 'experience', 'salary']

In [106]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['age', 'experience'], outputCol='independent features')

In [109]:
output=featureassembler.transform(training)
output.show()

+--------+---+----------+------+--------------------+
|    name|age|experience|salary|independent features|
+--------+---+----------+------+--------------------+
|   Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhansh| 30|         8| 25000|          [30.0,8.0]|
|   Sunny| 29|         4| 20000|          [29.0,4.0]|
|    paul| 24|         3| 15000|          [24.0,3.0]|
|  harsha| 21|         1| 18000|          [21.0,1.0]|
| shubham| 23|         2| 40000|          [23.0,2.0]|
+--------+---+----------+------+--------------------+

In [111]:
output.columns

['name', 'age', 'experience', 'salary', 'independent features']

In [112]:
finalized_data = output.select('independent features', 'salary')

In [113]:
finalized_data.show()

+--------------------+------+
|independent features|salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 15000|
|          [21.0,1.0]| 18000|
|          [23.0,2.0]| 40000|
+--------------------+------+

In [137]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol='independent features', labelCol='salary')
regressor = regressor.fit(train_data)

In [138]:
test_data.show()

+--------------------+------+
|independent features|salary|
+--------------------+------+
|          [23.0,2.0]| 40000|
|          [29.0,4.0]| 20000|
+--------------------+------+

In [139]:
regressor.coefficients

DenseVector([-3192.9825, 5105.2632])

In [140]:
regressor.intercept

78535.08771929744

In [141]:
pred_results = regressor.evaluate(test_data)

In [142]:
pred_results.predictions.show()

+--------------------+------+-----------------+
|independent features|salary|       prediction|
+--------------------+------+-----------------+
|          [23.0,2.0]| 40000|15307.01754385967|
|          [29.0,4.0]| 20000|6359.649122807197|
+--------------------+------+-----------------+